.d-flex {
    display: flex;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.jc-space-around {
    justify-content: space-around;
}

.jc-space-between {
    justify-content: space-between  ;
}

.ai-center {
    align-items: center;
}

.pad {
    padding: 1.5%;
}

.font-media {
    font-size: 1.3em;
}

.content {
    width: 100%;
    height: 100vh;
}

.content2 {
    width: 100%;
    gap: 1%;
}

.media span {
    font-weight: 400;
}

.media p {
    text-align: center;
    font-weight: 400;
}

.mais-alerta-filtro .media {
    width: 18vw;
}

.alerta-info {
    margin: 5%;
    font-size: 2em !important;
}

.ranking {
    background-color: #292930;
    width: 30vw;
    border-radius: 3px;
    height: 45vh;
    color: white;
    padding: 7px;
    border: 2px solid #ffff;
    justify-content: center;
    align-items: center;
}

.ranking table{
    text-align: center;
    width: 100%;
    height: 92%;
    border-collapse: collapse;
    padding: 0;
}

.filtro {
    text-align: center;
    color: #ffff;
    align-items: center;
}

.filtro input {
    width: 75%;
}

td, th {
    border: 1px solid rgb(190,190,190);
    margin: 0;
    padding: 1px;
}

h2 {
    margin-bottom: 10%;
    width: 60%;
    justify-self: center;
    text-align: center;
    color: #fff;
}

.range-container {
    position: relative;
    width: 300px;
}

.range-background {
    position: absolute;
    top: 10px;
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
}

.range-fill {
    position: absolute;
    top: 10px;
    height: 8px;
    background: #fac73a;
    z-index: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
    position: absolute;
    pointer-events: none; 
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 1px solid #1a1a1a;
    background: #fac73a;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}

input[type="range"]::-moz-range-thumb {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    cursor: pointer;
    pointer-events: auto;
    position: relative;
    z-index: 2;
}

.range-labels {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 30px;
    width: 100%;
    font-size: 14px;
    color: #fff;
}

.output {
    position: absolute;
    color: #fff;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.tickmarks {
    display: flex;
    justify-content: space-around;
    gap: 7px;
    position: absolute;
    top: 18px; 
    width: 100%;
    font-size: 10px;
    color: #fff;
  }